<footer>
  <div class="container-fluid">
    <div class="p-4 row justify-content-between">
      <div class="col-md-4">
        <div class="d-flex align-items-center">
          <img
            src="./assets/images/footer logo.png"
            alt="Quran logo"
            width="10%"
          />
          <div class="logo-title">
            <span class="d-block m-0 text-white pb-0 ps-2 fw-bold fs-5"
              >Quran</span
            >
            <span class="m-0 pt-0 ps-2 title-caption d-block">
              Read, study, and learn The Noble Quran.
            </span>
          </div>
        </div>
        <p class="pt-4 text-white fw-medium pb-3 border-bottom">
          Quran.com is a Sadaqah Jariyah. We hope to make it easy for everyone
          to read, study, and learn The Noble Quran. The Noble Quran has many
          names including Al-Quran Al-Kareem, Al-Ketab, Al-Furqan, Al-Maw'itha,
          Al-Thikr, and Al-Noor.
        </p>
        <div class="d-flex align-items-center">
          <p class="text-white">Follow us :</p>
          <ul class="social-list d-flex gap-3 ps-4">
            <li><i class="fa-brands fa-facebook-f social-link"></i></li>
            <li><i class="fa-brands fa-x-twitter social-link"></i></li>
            <li><i class="fa-brands fa-instagram social-link"></i></li>
            <li><i class="fa-brands fa-linkedin social-link"></i></li>
            <li><i class="fa-brands fa-youtube social-link"></i></li>
          </ul>
        </div>
        <p class="copyright-color">© 2024 Quran life. All rights reserved</p>
      </div>
      <div class="col-md-6 ps-5">
        <div class="row">
          <div class="col-3">
            <h4 class="text-white">Navigate</h4>
            <ul class="text-white">
              <li class="py-1">Home</li>
              <li class="py-1">Quran</li>
              <li class="py-1">Reciter</li>
              <li class="py-1">Podcast</li>
              <li class="py-1">Settings</li>
            </ul>
          </div>
          <div class="col-3">
            <h4 class="text-white">Quick links</h4>
            <ul class="text-white">
              <li class="py-1">About us</li>
              <li class="py-1">Contact us</li>
              <li class="py-1">Login</li>
              <li class="py-1">Sign up</li>
              <li class="py-1">FAQ</li>
            </ul>
          </div>
          <div class="col-3">
            <h4 class="text-white">Popular links</h4>
            <ul class="text-white">
              <li class="py-1">Ayatul Kursi</li>
              <li class="py-1">Yaseen</li>
              <li class="py-1">Al Mulk</li>
              <li class="py-1">Ar-Rahman</li>
              <li class="py-1">Al Waqi'ah</li>
              <li class="py-1">Al Kahf</li>
              <li class="py-1">Al Muzzammil</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
