<owl-carousel-o [options]="MainSlider">
    <ng-template carouselSlide>
        <div class="position-relative">
            <img src="./assets/image slider/slider1.jpg" class="w-100" alt="slider 1">
            <div class="layer">
                <div class="slider__content">
                    <h2>Ramadan Journey</h2>
                    <p>In this great month, we witness the meanings of faith in our souls. The month of Ramadan is an
                        opportunity for us to
                        renew our faith and prepare to complete the Quran in this holy month. We have prepared this plan
                        so
                        that you can
                        complete the Qur'an within 30 days.</p>
                    <button class="btn__slider">Start</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="position-relative">
            <img src="./assets/image slider/slider2.png" class="w-100" alt="slider 1">
            <div class="layer">
                <div class="slider__content">
                    <p>Here you will find all kinds of podcasts that will help you discover more about Islam and delve
                        deeper into
                        understanding the interpretations of the Qur'an and the Sunnah, and many educational programs on
                        various matters of
                        religion and life that help Muslims. Discover it now</p>
                    <button class="btn__slider">Discover</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="position-relative">
            <img src="./assets/image slider/slider1.jpg" class="w-100" alt="slider 1">
            <div class="layer">
                <div class="slider__content">
                    <h2>Online Tutoring</h2>
                    <p>The Qur'an in our lives plays a major role in improving our morals. Therefore, we have provided
                        you with a group of
                        distinguished memorizers. Start now and find the appropriate memorizer for you.</p>
                    <button class="btn__slider">GO Now</button>
                </div>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>