/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Mr+Dafoe&family=Pacifico&display=swap");
//! owl slider
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@font-face {
  font-family: "quran";

  src: url("assets/sura_names.woff2") format("woff2");
}

.ar-text {
  font-family: "quran", sans-serif;
  direction: rtl;
}

//! owl slider

.owl-dots {
  transform: translateY(-40px) !important;
}

.owl-dot {
  span {
    width: 12px !important;
    height: 12px !important;
    background: #fff !important;
  }
}

.owl-dot {
  &.active {
    span {
      background-color: #3ab6aa !important;
    }
  }
}

//! main btn
.btn__slider {
  background-color: #3ab6aa;
  border: 0;
  border-radius: 10px;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 4px #fff;
  transition: all 0.5s;

  &:hover {
    background-color: #fff;
    color: #3ab6aa;
  }
}