/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Mr+Dafoe&family=Pacifico&display=swap");
//! owl slider
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";


// navbar styles 
li 
{ a{
     color: black;
}
   

}
li  {
    input{
        background-color: #F2F2F2 ;
   
        border-radius: 16px;
        border: none;
        background-image: url('./assets/images/search-svgrepo-com.svg');
        background-position: 12px 10px; 
        
        background-repeat: no-repeat; 
        background-size: 18px;
        
    }

}
.form-control:focus{
    box-shadow: none;
  
}
//navbar styles
body {
  // English Font
  font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'quran';
    src: url('assets/Fonts/sura_names.woff2') format('woff2');
  }

.ar-text{
    font-family: 'quran',sans-serif ;
    direction: rtl;
}

.ayah-size {
  font-size: 1.5rem;
}

//! owl slider

.owl-dots {
  transform: translateY(-40px) !important;
}

.owl-dot {
  span {
    width: 12px !important;
    height: 12px !important;
    background: #fff !important;
  }
}

.owl-dot {
  &.active {
    span {
      background-color: #3ab6aa !important;
    }
  }
}

//! main btn
.btn__slider {
  background-color: #3ab6aa;
  border: 0;
  border-radius: 10px;
  padding: 8px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 1px 4px #fff;
  transition: all 0.5s;
  margin-top: 5px;

  &:hover {
    background-color: #fff;
    color: #3ab6aa;
  }
}
//! for reading commponant
.ar-text-reading{
  direction: rtl;
  font-family:  "Amiri Quran", serif;
}


@for $i from 1 through 604 {

  @font-face {
    font-family: 'ayahs#{$i}';
    src: url(assets/Fonts/woff/p#{$i}.woff) format('woff');
  }
}




@for $i from 1 through 604 {
  .p#{$i}-v1 {

    font-family: 'ayahs#{$i}';
  }
}



