.goal-icon,
.graduate-icon {
  font-size: 20px;
  color: #3ab6aa;
  margin-top: 5px;
}

.growth {
  background-color: #ebf9fa;
  h2 {
    color: #3ab6aa;
  }
}

h4{
  margin: 0;
}

span{
  font-size: 13px;
}