<app-slider></app-slider>
<div class="container">
    <div class="growth p-3 rounded-3 mb-4">
        <h2 class="h4">Quran Growth Journey</h2>
        <div class="border border-2 p-2 pb-3 rounded-3 my-3">
            <div class="d-flex gap-1">
                <i class="fa-solid fa-bullseye goal-icon"></i>
                <div>
                    <h4 class="h5">Custom Quran Reading goals</h4>
                    <span>Challenge yourself to keep a 30 day strike this Ramadan</span>
                    <button class="btn__slider d-block">Create Goal</button>
                </div>
            </div>
        </div>
        <div class="border border-2 p-2 pb-3 rounded-3 mt-3">
            <div class="d-flex gap-1">
                <i class="fa-solid fa-user-graduate graduate-icon"></i>
                <div>
                    <h4 class="h5">Online Tutoring</h4>
                    <span>Challenge yourself to keep a 30 day strike this Ramadan</span>
                    <button class="btn__slider d-block">See All</button>
                </div>
            </div>
        </div>
    </div>
</div>