<app-slider></app-slider>
<div class="container-fluid">
    <div class="growth p-3 rounded-3 mb-5">
        <h2>Quran Growth Journey</h2>
        <div class="border border-2 p-2 pb-3 rounded-3 my-3">
            <div class="d-flex gap-1">
                <i class="fa-solid fa-bullseye goal-icon"></i>
                <div>
                    <h4>Custom Quran Reading goals</h4>
                    <p>Challenge yourself to keep a 30 day strike this Ramadan</p>
                    <button class="btn__slider">Create Goal</button>
                </div>
            </div>
        </div>
        <div class="border border-2 p-2 pb-3 rounded-3 mt-3">
            <div class="d-flex gap-1">
                <i class="fa-solid fa-user-graduate graduate-icon"></i>
                <div>
                    <h4>Online Tutoring</h4>
                    <p>Challenge yourself to keep a 30 day strike this Ramadan</p>
                    <button class="btn__slider">See All</button>
                </div>
            </div>
        </div>
    </div>
</div>