<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid ">
    <img src="./assets/arcticons_al-quran-indonesia.png" alt="" srcset="" class="mx-2 ">
    <a class="navbar-brand  fw-bold">Quran</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
        <li class="nav-item ">
          <a class="nav-link " aria-current="page">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " aria-current="page">Reciters</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link " aria-current="page">Podcast</a>
        </li>
        <li class="nav-item mx-2">
          <input class="form-control" type="search" aria-label="Search" size="100">
        </li>
      </ul>
      <div class="d-flex justify-content-between    align-items-center">
        <button class="btn btn-outline-success  mx-2 mb-2 mt-2 btn-sec" type="submit">Log in</button>
        <button class="btn btn-outline-success mx-2 mb-2 mt-2 btn-main" type="submit">Sign up</button>
      </div>
    </div>
  </div>
</nav>