$main-color: #3AB6AA;
$sec-color:#A4C7C4;
.common {
    color: white;
    border: none;
}
.btn-main{
    background-color: $main-color;
    @extend .common
   
}
.btn-sec{
    background-color: $sec-color;
    @extend .common
   
}


button{
    white-space: nowrap;
}
